streamlit==1.43.0
transformers==4.49.0
pillow==10.4.0
protobuf==4.25.5
conda install Jinja2
Jinja2==3.1.4
torch==2.5.1
conda install pytorch==2.5.1 torchvision==0.20.1 torchaudio==2.5.1 pytorch-cuda=12.1 -c pytorch -c nvidia